

.container {
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--dt-background-color-container);
}
.container .table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}



